.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1;
  font-size: 1.5rem;
}

.form {
  display: flex;
  gap: 4px;
  margin-top: 2em;
}

.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 15px;
  width: 100px;
  cursor: pointer;
}

.input {
  width: 25em;
  height: 30px;
  border-radius: 5px;
  position: relative;
}
